.card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.card-left {
    width: 700px
}

.card-top-left {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
}
.bxs-down-arrow {
    font-size: 20px;
    margin: 0 0 0 20px;
}
.card-top-right {
    width: max-content;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 40px;
    color: white;
    background-color: black;
    border-radius: 20px;
}

.cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-dish-item {
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    border-bottom: 2px solid rgb(128, 128, 128);
}

.card-left {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.card-left-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 40px;
}
.card-dish-title {
    font-size: 30px;
    font-weight: bold;
    margin: 0 20px 0 0;
}
.veg-symbol {
    width: 30px;
    height: 30px;
    margin: 0 20px 0 0;
}
.dish-rating {
    width: max-content;
    padding: 5px;
    background-color: green;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dish-rating > span {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 0 5px 0 10px;
}
.dish-rating > i {
    color: white;
    font-size: 15px;
    margin: 2px;
}

.card-left-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 40px 0;
}
.card-dish-storage-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.storage-type {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 20px 0 0;
}
.dish-ingrednts {
    font-size: 20px;
    font-weight: 800;
}
.vw-list {
    font-size: 15px;
    color: orange;
    font-weight: bold;
}
.vw-list > i {
    font-size: 15px;
    margin-left: 5px;
    font-weight: 600;
}

.card-left-three {
    flex-wrap: wrap;
}
.dish-description {
    font-size: 30px;
    color: grey;
}

.card-right {
    position: relative;
}
.card-img-wrapper {
    width: 400px;
    height: 300px;
    border-radius: 40px;
    overflow: hidden;
}
.dish-img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.img-top-tag {
    position: absolute;
    width: max-content;
    font-size: 30px;
    font-weight: 700;
    color: orange;
    background-color: white;
    padding: 5px 0;
    border: 2px solid orange;
    border-radius: 5px;
    left: 140px;
    bottom: -15px;
    box-shadow: 0px 10px 10px grey;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.img-tag {
    padding: 5px 20px 5px 30px;
}
.img-top-tag > i {
    font-size: 20px;
    margin: 0 !important;
}


@media  screen and (max-width: 480px) {
    .card-left {
        height: 150px;
        width: 170px
    }
    .card-left-one {
        margin: 0 0 20px;
    }
    .card-left-two {
        margin: 0 0 20px 0;
    }
    .card-top-left {
        font-size: 15px;
    }
    .bxs-down-arrow {
        font-size: 12px;
        margin: 0 0 0 12px;
    }
    .card-right {
        inset: -35px 0 0 0;
    }
    .card-top-right {
        font-size: 10px;
        padding: 5px 20px;
        border-radius: 8px;
        margin: 0 10px 0 0;
    }
    .card-dish-item {
        width: 320px;
        padding: 15px;
    }
    .card-img-wrapper {
        width: 120px;
        height: 80px;
        border-radius: 8px;
    }
    .dish-img {
        width: 120px;
        height: 80px;
        object-fit: cover;
    }
    .img-top-tag {
        font-size: 10px;
        padding: 3px 0;
        border-radius: 2px;
        left: 30px;
        bottom: -15px;
        box-shadow: 0px 5px 5px grey;
    }
    .img-tag {
        padding: 2px 10px 2px 12px;
    }
    .img-top-tag > i {
        font-size: 10px;
        margin: 0 !important;
    }
    .card-dish-title {
        font-size: 12px;
    }
    .veg-symbol {
        width: 12px;
        height: 12px;
        margin: 0 10px 0 0;
    }
    .dish-rating {
        height: 15px;
        padding: 0px;
        border-radius: 5px;
    }
    .dish-rating > span {
        font-size: 7px;
        margin: 0 3px 0 5px;
    }
    .dish-rating > i {
        font-size: 5px;
        margin: 0px;
    }

    .storage-type {
        font-size: 8px;
        margin: 0 10px 0 0;
    }
    .storage-type > i {
        font-size: 22px;
    }
    .dish-ingrednts {
        font-size: 10px;
    }
    .vw-list {
        font-size: 8px;
    }
    .vw-list > i {
        font-size: 6px;
        margin-left: 2px;
    }
    .dish-description {
        font-size: 10px;
    }
}
