@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* GLOBLE VARIABLES */
#root {
  
}

.max-width {
  max-width: 1200px;
  margin: 0px auto;  
}

.absolute-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cur-po {
  cursor: pointer;
}

@media  screen and (max-width: 480px) {
  .max-width {
    max-width: 340px;
    margin: 0px auto;  
  }
}

